# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/workspace.xml
app/build/generated/assets/
app/build/generated/res/
app/build/generated/source/aidl/
app/build/generated/source/apt/
app/build/generated/source/rs/
app/build/intermediates/assets/
app/build/intermediates/builds/
app/build/intermediates/classes/debug/com.guap.guap_tinder.Registr.class
app/build/intermediates/incremental-verifier/debug/com.guap.guap_tinder.Registr.class
app/build/intermediates/incremental/instantRunDependenciesApkBuilder/
app/build/intermediates/incremental/mergeDebugResources/aapt-temp/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/
values-uk/
app/build/intermediates/incremental/packageDebugAndroidTest/
app/build/intermediates/incremental/packageRelease/
app/build/intermediates/incremental/processDebugResources/
app/build/intermediates/jniLibs/
app/build/intermediates/reload-dex/
app/build/intermediates/rs/
app/build/intermediates/shaders/
app/build/intermediates/transforms/extractJars/
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/com.guap.guap_tinder.Registr.class
app/build/intermediates/transforms/instantRun/debug/folders/4000/
app/build/intermediates/transforms/instantRunDependenciesApk/
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_3/com.guap.guap_tinder.Registr.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_3/buildId.txt
app/build/intermediates/transforms/instantRunSlicesApk/
app/build/intermediates/transforms/mergeJavaRes/
app/build/intermediates/transforms/mergeJniLibs/
app/build/tmp/
build/android-profile/profile-2017-11-10-01-19-23-670.rawproto
build/android-profile/profile-2017-11-10-01-22-45-964.rawproto
build/android-profile/profile-2017-11-10-01-24-00-866.rawproto
app/build/intermediates/classes/debug/com/guap/guap_tinder/com.guap.guap_tinder.Home.class
app/build/intermediates/incremental-verifier/debug/com/guap/guap_tinder/com.guap.guap_tinder.Home.class
app/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
app/build/intermediates/incremental/processDebugAndroidTestResources/
app/build/intermediates/manifest/tmp/
app/build/intermediates/res/merged/debug/layout/activity_two_activity.xml
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/guap/guap_tinder/com.guap.guap_tinder.Home.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_1/buildId.txt
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_2/buildId.txt
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_4/buildId.txt
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_4/com/guap/guap_tinder/com.guap.guap_tinder.Home.class
build/android-profile/profile-2017-11-10-01-33-26-592.rawproto
build/android-profile/profile-2017-11-10-01-33-39-462.rawproto
build/android-profile/profile-2017-11-10-01-42-43-818.rawproto
build/android-profile/profile-2017-11-10-01-44-47-034.rawproto
build/android-profile/profile-2017-11-10-01-48-34-438.rawproto
build/android-profile/profile-2017-11-10-01-50-28-457.rawproto
app/build/intermediates/classes/debug/Home.class
app/build/intermediates/classes/debug/Two_activity.class
app/build/intermediates/classes/debug/com/guap/guap_tinder/Two_activity.class
app/build/intermediates/incremental-verifier/debug/Home.class
app/build/intermediates/incremental-verifier/debug/Two_activity.class
app/build/intermediates/incremental-verifier/debug/com/guap/guap_tinder/Two_activity.class
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/Home.class
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/Two_activity.class
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/guap/guap_tinder/Two_activity.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_3/Home.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_4/Two_activity.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_4/com/guap/guap_tinder/Two_activity.class
build/android-profile/profile-2017-11-10-01-50-51-207.rawproto
build/android-profile/profile-2017-11-10-01-51-56-906.rawproto
build/android-profile/profile-2017-11-10-01-52-34-720.rawproto
build/android-profile/profile-2017-11-10-01-53-33-769.rawproto
build/android-profile/profile-2017-11-10-01-55-28-197.rawproto
build/android-profile/profile-2017-11-10-02-01-35-573.rawproto
build/android-profile/profile-2017-11-10-02-02-44-132.rawproto
build/android-profile/profile-2017-11-12-23-10-33-745.rawproto
.idea/libraries/Gradle__animated_vector_drawable_26_0_0_alpha1.xml
.idea/libraries/Gradle__appcompat_v7_26_0_0_alpha1.xml
.idea/libraries/Gradle__constraint_layout_1_0_2.xml
.idea/libraries/Gradle__constraint_layout_solver_1_0_2.xml
.idea/libraries/Gradle__design_26_0_0_alpha1.xml
.idea/libraries/Gradle__espresso_core_2_2_2.xml
.idea/libraries/Gradle__espresso_idling_resource_2_2_2.xml
.idea/libraries/Gradle__exposed_instrumentation_api_publish_0_5.xml
.idea/libraries/Gradle__hamcrest_core_1_3.xml
.idea/libraries/Gradle__hamcrest_integration_1_3.xml
.idea/libraries/Gradle__hamcrest_library_1_3.xml
.idea/libraries/Gradle__javawriter_2_1_1.xml
.idea/libraries/Gradle__javax_annotation_api_1_2.xml
.idea/libraries/Gradle__javax_inject_1.xml
.idea/libraries/Gradle__jsr305_2_0_1.xml
.idea/libraries/Gradle__junit_4_12.xml
.idea/libraries/Gradle__play_services_base_11_0_4.xml
.idea/libraries/Gradle__play_services_basement_11_0_4.xml
.idea/libraries/Gradle__play_services_maps_11_0_4.xml
.idea/libraries/Gradle__play_services_tasks_11_0_4.xml
.idea/libraries/Gradle__recyclerview_v7_26_0_0_alpha1.xml
.idea/libraries/Gradle__rules_0_5.xml
.idea/libraries/Gradle__runner_0_5.xml
.idea/libraries/Gradle__support_annotations_26_0_0_alpha1.xml
.idea/libraries/Gradle__support_compat_26_0_0_alpha1.xml
.idea/libraries/Gradle__support_core_ui_26_0_0_alpha1.xml
.idea/libraries/Gradle__support_core_utils_26_0_0_alpha1.xml
.idea/libraries/Gradle__support_fragment_26_0_0_alpha1.xml
.idea/libraries/Gradle__support_media_compat_26_0_0_alpha1.xml
.idea/libraries/Gradle__support_v4_26_0_0_alpha1.xml
.idea/libraries/Gradle__support_vector_drawable_26_0_0_alpha1.xml
.idea/libraries/Gradle__transition_26_0_0_alpha1.xml
app/build/generated/source/r/debug/android/support/design/
app/build/generated/source/r/debug/android/support/transition/
app/build/generated/source/r/debug/android/support/v7/recyclerview/
app/build/generated/source/r/debug/com/google/
app/build/intermediates/blame/res/debug/multi/layout-xlarge-v4.json
app/build/intermediates/blame/res/debug/multi/layout.json
app/build/intermediates/blame/res/debug/single/anim-v21.json
app/build/intermediates/blame/res/debug/single/animator-v21.json
app/build/intermediates/blame/res/debug/single/drawable-anydpi-v21.json
app/build/intermediates/blame/res/debug/single/layout-sw600dp-v13.json
app/build/intermediates/blame/res/debug/single/layout-xlarge-v4.json
app/build/intermediates/classes/debug/android/support/design/
app/build/intermediates/classes/debug/android/support/transition/
app/build/intermediates/classes/debug/android/support/v7/recyclerview/
app/build/intermediates/classes/debug/com/google/
app/build/intermediates/classes/debug/com/guap/guap_tinder/MapsActivity$1.class
app/build/intermediates/classes/debug/com/guap/guap_tinder/MapsActivity.class
app/build/intermediates/classes/debug/com/guap/guap_tinder/R$animator.class
app/build/intermediates/classes/debug/com/guap/guap_tinder/Registr.class
app/build/intermediates/incremental-verifier/debug/android/support/design/
app/build/intermediates/incremental-verifier/debug/android/support/transition/
app/build/intermediates/incremental-verifier/debug/android/support/v7/recyclerview/
app/build/intermediates/incremental-verifier/debug/com/google/
app/build/intermediates/incremental-verifier/debug/com/guap/guap_tinder/MapsActivity$1.class
Wou
ld remove app/build/intermediates/incremental-verifier/debug/com/guap/guap_tinder/MapsActivity.class
app/build/intermediates/incremental-verifier/debug/com/guap/guap_tinder/R$animator.class
app/build/intermediates/incremental-verifier/debug/com/guap/guap_tinder/Registr.class
app/build/intermediates/incremental/packageDebug/zip-cache/c2YalhJSgcecyy0E8w7jJURHlYE=
app/build/intermediates/pre-dexed/
app/build/intermediates/res/merged/debug/anim-v21/
app/build/intermediates/res/merged/debug/anim/design_bottom_sheet_slide_in.xml
app/build/intermediates/res/merged/debug/anim/design_bottom_sheet_slide_out.xml
app/build/intermediates/res/merged/debug/anim/design_snackbar_in.xml
app/build/intermediates/res/merged/debug/anim/design_snackbar_out.xml
app/build/intermediates/res/merged/debug/animator-v21/
app/build/intermediates/res/merged/debug/color-v23/design_tint_password_toggle.xml
app/build/intermediates/res/merged/debug/color/common_google_signin_btn_text_dark.xml
app/build/intermediates/res/merged/debug/color/common_google_signin_btn_text_light.xml
app/build/intermediates/res/merged/debug/color/common_google_signin_btn_tint.xml
app/build/intermediates/res/merged/debug/color/design_error.xml
app/build/intermediates/res/merged/debug/color/design_tint_password_toggle.xml
app/build/intermediates/res/merged/debug/drawable-anydpi-v21/
app/build/intermediates/res/merged/debug/drawable-hdpi-v4/common_full_open_on_phone.png
app/build/intermediates/res/merged/debug/drawable-hdpi-v4/common_google_signin_btn_icon_dark_normal_background.9.png
app/build/intermediates/res/merged/debug/drawable-hdpi-v4/common_google_signin_btn_icon_light_normal_background.9.png
app/build/intermediates/res/merged/debug/drawable-hdpi-v4/common_google_signin_btn_text_dark_normal_background.9.png
app/build/intermediates/res/merged/debug/drawable-hdpi-v4/common_google_signin_btn_text_light_normal_background.9.png
app/build/intermediates/res/merged/debug/drawable-hdpi-v4/design_ic_visibility.png
app/build/intermediates/res/merged/debug/drawable-hdpi-v4/design_ic_visibility_off.png
app/build/intermediates/res/merged/debug/drawable-hdpi-v4/googleg_disabled_color_18.png
app/build/intermediates/res/merged/debug/drawable-hdpi-v4/googleg_standard_color_18.png
app/build/intermediates/res/merged/debug/drawable-mdpi-v4/common_google_signin_btn_icon_dark_normal_background.9.png
app/build/intermediates/res/merged/debug/drawable-mdpi-v4/common_google_signin_btn_icon_light_normal_background.9.png
app/build/intermediates/res/merged/debug/drawable-mdpi-v4/common_google_signin_btn_text_dark_normal_background.9.png
app/build/intermediates/res/merged/debug/drawable-mdpi-v4/common_google_signin_btn_text_light_normal_background.9.png
app/build/intermediates/res/merged/debug/drawable-mdpi-v4/design_ic_visibility.png
app/build/intermediates/res/merged/debug/drawable-mdpi-v4/design_ic_visibility_off.png
app/build/intermediates/res/merged/debug/drawable-mdpi-v4/googleg_disabled_color_18.png
app/build/intermediates/res/merged/debug/drawable-mdpi-v4/googleg_standard_color_18.png
app/build/intermediates/res/merged/debug/drawable-v21/avd_hide_password.xml
app/build/intermediates/res/merged/debug/drawable-v21/avd_show_password.xml
app/build/intermediates/res/merged/debug/drawable-v21/design_bottom_navigation_item_background.xml
app/build/intermediates/res/merged/debug/drawable-v21/design_password_eye.xml
app/build/intermediates/res/merged/debug/drawable-xhdpi-v4/common_full_open_on_phone.png
app/build/intermediates/res/merged/debug/drawable-xhdpi-v4/common_google_signin_btn_icon_dark
_normal_background.9.png
app/build/intermediates/res/merged/debug/drawable-xhdpi-v4/common_google_signin_btn_icon_light_normal_background.9.png
app/build/intermediates/res/merged/debug/drawable-xhdpi-v4/common_google_signin_btn_text_dark_normal_background.9.png
app/build/intermediates/res/merged/debug/drawable-xhdpi-v4/common_google_signin_btn_text_light_normal_background.9.png
app/build/intermediates/res/merged/debug/drawable-xhdpi-v4/design_ic_visibility.png
app/build/intermediates/res/merged/debug/drawable-xhdpi-v4/design_ic_visibility_off.png
app/build/intermediates/res/merged/debug/drawable-xhdpi-v4/googleg_disabled_color_18.png
app/build/intermediates/res/merged/debug/drawable-xhdpi-v4/googleg_standard_color_18.png
app/build/intermediates/res/merged/debug/drawable-xxhdpi-v4/common_google_signin_btn_icon_dark_normal_background.9.png
app/build/intermediates/res/merged/debug/drawable-xxhdpi-v4/common_google_signin_btn_icon_light_normal_background.9.png
app/build/intermediates/res/merged/debug/drawable-xxhdpi-v4/common_google_signin_btn_text_dark_normal_background.9.png
app/build/intermediates/res/merged/debug/drawable-xxhdpi-v4/common_google_signin_btn_text_light_normal_background.9.png
app/build/intermediates/res/merged/debug/drawable-xxhdpi-v4/design_ic_visibility.png
app/build/intermediates/res/merged/debug/drawable-xxhdpi-v4/design_ic_visibility_off.png
app/build/intermediates/res/merged/debug/drawable-xxhdpi-v4/googleg_disabled_color_18.png
app/build/intermediates/res/merged/debug/drawable-xxhdpi-v4/googleg_standard_color_18.png
app/build/intermediates/res/merged/debug/drawable-xxxhdpi-v4/design_ic_visibility.png
app/build/intermediates/res/merged/debug/drawable-xxxhdpi-v4/design_ic_visibility_off.png
app/build/intermediates/res/merged/debug/drawable/common_google_signin_btn_icon_dark.xml
app/build/intermediates/res/merged/debug/drawable/common_google_signin_btn_icon_dark_focused.xml
app/build/intermediates/res/merged/debug/drawable/common_google_signin_btn_icon_dark_normal.xml
app/build/intermediates/res/merged/debug/drawable/common_google_signin_btn_icon_disabled.xml
app/build/intermediates/res/merged/debug/drawable/common_google_signin_btn_icon_light.xml
app/build/intermediates/res/merged/debug/drawable/common_google_signin_btn_icon_light_focused.xml
app/build/intermediates/res/merged/debug/drawable/common_google_signin_btn_icon_light_normal.xml
app/build/intermediates/res/merged/debug/drawable/common_google_signin_btn_text_dark.xml
app/build/intermediates/res/merged/debug/drawable/common_google_signin_btn_text_dark_focused.xml
app/build/intermediates/res/merged/debug/drawable/common_google_signin_btn_text_dark_normal.xml
app/build/intermediates/res/merged/debug/drawable/common_google_signin_btn_text_disabled.xml
app/build/intermediates/res/merged/debug/drawable/common_google_signin_btn_text_light.xml
app/build/intermediates/res/merged/debug/drawable/common_google_signin_btn_text_light_focused.xml
app/build/intermediates/res/merged/debug/drawable/common_google_signin_btn_text_light_normal.xml
app/build/intermediates/res/merged/debug/drawable/design_bottom_navigation_item_background.xml
app/build/intermediates/res/merged/debug/drawable/design_fab_background.xml
app/build/intermediates/res/merged/debug/drawable/design_password_eye.xml
app/build/intermediates/res/merged/debug/drawable/design_snackbar_background.xml
app/build/intermediates/res/merged/debug/drawable/navigation_empty_icon.xml
app/build/intermediates/res/merged/debug/layout-sw600dp-v13/
app/build/intermediates/res/merged/debug/layout-xlarge-v4/
app/buil
d/intermediates/res/merged/debug/layout/activity_maps.xml
app/build/intermediates/res/merged/debug/layout/activity_massage.xml
app/build/intermediates/res/merged/debug/layout/activity_registr.xml
app/build/intermediates/res/merged/debug/layout/design_bottom_navigation_item.xml
app/build/intermediates/res/merged/debug/layout/design_bottom_sheet_dialog.xml
app/build/intermediates/res/merged/debug/layout/design_layout_snackbar.xml
app/build/intermediates/res/merged/debug/layout/design_layout_snackbar_include.xml
app/build/intermediates/res/merged/debug/layout/design_layout_tab_icon.xml
app/build/intermediates/res/merged/debug/layout/design_layout_tab_text.xml
app/build/intermediates/res/merged/debug/layout/design_menu_item_action_area.xml
app/build/intermediates/res/merged/debug/layout/design_navigation_item.xml
app/build/intermediates/res/merged/debug/layout/design_navigation_item_header.xml
app/build/intermediates/res/merged/debug/layout/design_navigation_item_separator.xml
app/build/intermediates/res/merged/debug/layout/design_navigation_item_subheader.xml
app/build/intermediates/res/merged/debug/layout/design_navigation_menu.xml
app/build/intermediates/res/merged/debug/layout/design_navigation_menu_item.xml
app/build/intermediates/res/merged/debug/layout/design_text_input_password_icon.xml
app/build/intermediates/transforms/dex/debug/folders/1000/10/classes_01ffa55716ada75615350d499d616e9712f7acd1/
app/build/intermediates/transforms/dex/debug/folders/1000/10/classes_4b39eb1e723f0db4ac5a6e74f365ad0092186e0a/
app/build/intermediates/transforms/dex/debug/folders/1000/10/classes_5f7e6f503c4e5a5d4fdf3268894cebddc85c904e/
app/build/intermediates/transforms/dex/debug/folders/1000/10/classes_64fda05c7e55581c63e0ea80bfd4f912ccf78415/
app/build/intermediates/transforms/dex/debug/folders/1000/10/classes_df9e5d384ae959666eb89a4cca6bf653218f9773/
app/build/intermediates/transforms/dex/debug/folders/1000/10/classes_f62258db0db5ad260263a83d5ed2f79801e8aff2/
app/build/intermediates/transforms/dex/debug/folders/1000/10/classes_f8f8edfc84275b5de0466f61de239b16d4370318/
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/android/support/design/
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/android/support/transition/
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/android/support/v7/recyclerview/
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/google/
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/guap/guap_tinder/MapsActivity$1.class
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/guap/guap_tinder/MapsActivity.class
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/guap/guap_tinder/R$animator.class
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/guap/guap_tinder/Registr.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_0/android/support/design/
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_0/buildId.txt
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_3/android/support/transition/
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_4/com/google/
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_4/com/guap/guap_tinder/MapsActivity$1.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_4/com/guap/guap_tinder/MapsActivity.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_4/com/g
uap/guap_tinder/R$animator.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_4/com/guap/guap_tinder/Registr.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_7/android/support/v7/
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_7/buildId.txt
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_7/com/google/
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_9/buildId.txt
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_9/com/google/
app/src/main/res/layout-xlarge/
build/android-profile/profile-2017-11-18-18-57-44-467.rawproto
build/android-profile/profile-2017-11-18-18-57-44-695.rawproto
build/android-profile/profile-2017-11-18-18-59-00-097.rawproto
build/android-profile/profile-2017-11-18-19-08-15-245.rawproto
build/android-profile/profile-2017-11-18-19-18-10-662.rawproto
build/android-profile/profile-2017-11-18-19-19-15-464.rawproto
build/android-profile/profile-2017-11-18-19-19-15-469.rawproto
build/android-profile/profile-2017-11-18-20-18-19-275.rawproto
build/android-profile/profile-2017-11-18-20-21-20-518.rawproto
build/android-profile/profile-2017-11-18-20-32-08-344.rawproto
build/android-profile/profile-2017-11-18-20-33-59-115.rawproto
build/android-profile/profile-2017-11-18-20-50-27-444.rawproto
build/android-profile/profile-2017-11-18-20-52-21-310.rawproto
build/android-profile/profile-2017-11-18-23-33-42-534.rawproto
build/android-profile/profile-2017-11-18-23-52-53-500.rawproto
build/android-profile/profile-2017-11-19-00-11-17-547.rawproto
build/android-profile/profile-2017-11-19-00-11-45-205.rawproto
build/android-profile/profile-2017-11-19-00-12-53-906.rawproto
build/android-profile/profile-2017-11-19-00-25-38-023.rawproto
build/android-profile/profile-2017-11-19-00-26-26-241.rawproto
build/android-profile/profile-2017-11-19-00-31-22-642.rawproto
build/android-profile/profile-2017-11-19-00-48-01-498.rawproto
build/android-profile/profile-2017-11-19-00-48-50-581.rawproto
build/android-profile/profile-2017-11-19-00-59-08-078.rawproto
build/android-profile/profile-2017-11-19-01-16-24-766.rawproto
build/android-profile/profile-2017-11-19-01-17-06-104.rawproto
build/android-profile/profile-2017-11-19-14-41-11-834.rawproto
build/android-profile/profile-2017-11-19-14-41-57-319.rawproto
build/android-profile/profile-2017-11-19-14-48-19-479.rawproto
build/android-profile/profile-2017-11-19-14-48-50-257.rawproto
build/android-profile/profile-2017-11-21-20-42-31-706.rawproto
build/android-profile/profile-2017-11-21-20-42-41-689.rawproto
build/android-profile/profile-2017-11-21-20-43-40-041.rawproto
build/android-profile/profile-2017-11-21-21-03-49-232.rawproto
build/android-profile/profile-2017-11-21-21-04-32-281.rawproto
build/android-profile/profile-2017-11-21-21-04-33-424.rawproto
build/android-profile/profile-2017-11-21-21-14-09-732.rawproto
build/android-profile/profile-2017-11-21-21-14-42-368.rawproto
build/android-profile/profile-2017-11-21-21-15-13-342.rawproto
build/android-profile/profile-2017-11-21-21-56-35-050.rawproto
build/android-profile/profile-2017-11-21-22-05-40-961.rawproto
build/android-profile/profile-2017-11-21-22-09-08-912.rawproto
build/android-profile/profile-2017-11-21-22-14-16-314.rawproto
build/android-profile/profile-2017-11-21-22-15-11-535.rawproto
build/androi
d-profile/profile-2017-11-21-22-38-00-674.rawproto
build/android-profile/profile-2017-11-21-22-41-28-637.rawproto
build/android-profile/profile-2017-11-21-22-46-16-604.rawproto
build/android-profile/profile-2017-11-21-22-47-18-721.rawproto
build/android-profile/profile-2017-11-21-23-52-10-706.rawproto
build/android-profile/profile-2017-11-21-23-53-40-157.rawproto
build/android-profile/profile-2017-11-21-23-54-23-465.rawproto
build/android-profile/profile-2017-11-21-23-57-36-005.rawproto
build/android-profile/profile-2017-11-21-23-59-11-417.rawproto
build/android-profile/profile-2017-11-22-00-05-16-445.rawproto
build/android-profile/profile-2017-11-22-00-07-23-633.rawproto
build/android-profile/profile-2017-11-22-00-11-19-475.rawproto
build/android-profile/profile-2017-11-22-00-13-30-946.rawproto
build/android-profile/profile-2017-11-22-00-15-09-106.rawproto
build/android-profile/profile-2017-11-22-00-16-20-227.rawproto
build/android-profile/profile-2017-11-22-00-16-43-931.rawproto
build/android-profile/profile-2017-11-22-00-17-53-261.rawproto
build/android-profile/profile-2017-11-22-00-20-50-203.rawproto
build/android-profile/profile-2017-11-22-00-38-37-571.rawproto
build/android-profile/profile-2017-11-22-00-40-11-118.rawproto
build/android-profile/profile-2017-11-22-00-41-41-326.rawproto
build/android-profile/profile-2017-11-22-00-42-32-221.rawproto
build/android-profile/profile-2017-11-22-00-44-22-702.rawproto
build/android-profile/profile-2017-11-22-00-46-34-303.rawproto
build/android-profile/profile-2017-11-22-00-49-23-113.rawproto
build/android-profile/profile-2017-11-22-00-51-04-547.rawproto
build/android-profile/profile-2017-11-22-00-54-07-019.rawproto
build/android-profile/profile-2017-11-22-00-54-44-726.rawproto
build/android-profile/profile-2017-11-22-01-02-33-933.rawproto
build/android-profile/profile-2017-12-06-19-30-49-472.rawproto
build/android-profile/profile-2017-12-06-19-34-46-882.rawproto
build/android-profile/profile-2017-12-06-19-37-32-141.rawproto
build/android-profile/profile-2017-12-06-19-39-09-391.rawproto
build/android-profile/profile-2017-12-06-19-39-25-144.rawproto
build/android-profile/profile-2017-12-06-19-48-44-623.rawproto
build/android-profile/profile-2017-12-06-19-51-29-409.rawproto
build/android-profile/profile-2017-12-06-19-52-08-728.rawproto
build/android-profile/profile-2017-12-06-20-12-15-875.rawproto
build/android-profile/profile-2017-12-06-20-12-50-676.rawproto
build/android-profile/profile-2017-12-06-20-14-52-074.rawproto
build/android-profile/profile-2017-12-06-20-22-55-161.rawproto
build/android-profile/profile-2017-12-07-15-55-31-393.rawproto
build/android-profile/profile-2017-12-07-18-49-37-475.rawproto
build/android-profile/profile-2017-12-07-18-50-46-758.rawproto
build/android-profile/profile-2017-12-07-19-16-11-717.rawproto
build/android-profile/profile-2017-12-07-23-10-22-992.rawproto
build/android-profile/profile-2017-12-07-23-11-00-136.rawproto
build/android-profile/profile-2017-12-07-23-11-22-336.rawproto
build/android-profile/profile-2017-12-07-23-11-27-064.rawproto
app/build/intermediates/classes/debug/com/guap/guap_tinder/GLOBAL.class
app/build/intermediates/classes/debug/com/guap/guap_tinder/SocketInputThread.class
app/build/intermediates/incremental-verifier/debug/com/guap/guap_tinder/GLOBAL.class
app/build/intermediates/incremental-verifier/debug/com/guap/guap_tinder/MapsActivity.class
app/build/intermediates/incremental-verifier/debug/com/guap/guap_tinder/SocketInputThread.class
app/build/intermediates/res/merged/debug/drawable-xhdpi-v4/common_google_signin_btn_icon_dark_normal_background.9.png
app/build/intermediates/res/merged/debug/layout/activity_maps.xml
app/build/intermediates/transforms/dex/debug/folders/1000/10/classes_02808c8f4938b2834afc644c173fbf90590a2ef5/
app/build/intermediates/transforms/dex/debug/folders/1000/10/classes_07c6aad479a94305067156dbc70e59100a006c10/
app/build/intermediates/transforms/dex/debug/folders/1000/10/classes_10d8a70a17059f8177fd2efd3a26612460a10144/
app/build/intermediates/transforms/dex/debug/folders/1000/10/classes_3800a928b09031c3b33eead4a08df818427afafc/
app/build/intermediates/transforms/dex/debug/folders/1000/10/classes_51348cd63a350da470dd9b667f5094a727c4aced/
app/build/intermediates/transforms/dex/debug/folders/1000/10/classes_666a354543cdcc844257fcbc36fe5418e116b073/
app/build/intermediates/transforms/dex/debug/folders/1000/10/classes_7d703302c8edd6f8f6e12e1194e913b55534604d/
app/build/intermediates/transforms/dex/debug/folders/1000/10/classes_a971dac14f9a386e5ff58cc7012d52cfaf32b5f9/
app/build/intermediates/transforms/dex/debug/folders/1000/10/classes_a9a2138d6d2fbb9abc9250fa4a26d37d12b977e8/
app/build/intermediates/transforms/dex/debug/folders/1000/10/classes_eca1fc26e07ddc96b42e8bfd73e4ce4900820e18/
app/build/intermediates/transforms/dex/debug/folders/1000/10/constraint-layout-solver-1.0.2_1c0ac751bb2ea4ac5fec952a1c367fb8cb7480de/
app/build/intermediates/transforms/dex/debug/folders/1000/10/support-annotations-26.0.0-alpha1_91fac5c1d1a8f1455944d093727d7549f1c26dbd/
app/build/intermediates/transforms/dex/debug/folders/1000/10000/
app/build/intermediates/transforms/dex/debug/folders/1000/5/
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/guap/guap_tinder/GLOBAL.class
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/guap/guap_tinder/SocketInputThread.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_4/com/guap/guap_tinder/GLOBAL.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_4/com/guap/guap_tinder/R$animator.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_4/com/guap/guap_tinder/SocketInputThread.class
build/android-profile/profile-2017-12-09-15-38-55-999.rawproto
build/android-profile/profile-2017-12-09-16-08-40-649.rawproto
build/android-profile/profile-2017-12-09-16-14-34-004.rawproto
app/build/intermediates/transforms/dex/
build/android-profile/profile-2017-12-09-16-22-52-374.rawproto
build/android-profile/profile-2017-12-09-21-49-09-833.rawproto
build/android-profile/profile-2017-12-09-21-52-05-242.rawproto
build/android-profile/profile-2017-12-09-21-53-58-375.rawproto
build/android-profile/profile-2017-12-09-21-55-19-792.rawproto
build/android-profile/profile-2017-12-09-21-58-45-728.rawproto
build/android-profile/profile-2017-12-09-22-08-26-170.rawproto
build/android-profile/profile-2017-12-09-22-09-17-431.rawproto
build/android-profile/profile-2017-12-09-22-10-10-192.rawproto
build/android-profile/profile-2017-12-09-22-29-40-012.rawproto
build/android-profile/profile-2017-12-09-22-31-59-629.rawproto
build/android-profile/profile-2017-12-10-15-50-52-274.rawproto
build/android-profile/profile-2017-12-10-15-53-02-867.rawproto
