# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/workspace.xml
app/build/generated/assets/
app/build/generated/res/
app/build/generated/source/aidl/
app/build/generated/source/apt/
app/build/generated/source/rs/
app/build/intermediates/assets/
app/build/intermediates/builds/
app/build/intermediates/classes/debug/com.guap.guap_tinder.Home.class
app/build/intermediates/incremental-verifier/debug/com.guap.guap_tinder.Home.class
app/build/intermediates/incremental/instantRunDependenciesApkBuilder/
app/build/intermediates/incremental/mergeDebugResources/aapt-temp/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-af/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-am/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ar/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-az/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-b+sr+Latn/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-be/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-bg/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-bn/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-bs/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ca/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-cs/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-da/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-de/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-el/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-en-rAU/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-en-rGB/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-en-rIN/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-es-rUS/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-es/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-et/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-eu/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-fa/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-fi/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-fr-rCA/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-fr/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-gl/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-gu/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-h720dp-v13/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-hdpi-v4/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-hi/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-hr/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-hu/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-hy/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-in/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-is/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-it/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-iw/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ja/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ka/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-kk/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-km/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-kn/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ko/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ky/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-land/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-large-v4/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ldltr-v21/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-lo/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-lt/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-lv/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-mk/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ml/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-mn/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-mr/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ms/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-my/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-nb/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ne/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-night-v8/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-nl/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-pa/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-pl/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-port/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-pt-rBR/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-pt-rPT/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-pt/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ro/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ru/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-si/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sk/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sl/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sq/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sr/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sv/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sw/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sw600dp-v13/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ta/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-te/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-th/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-tl/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-tr/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/
values-uk/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ur/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-uz/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v11/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v12/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v13/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v14/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v16/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v17/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v18/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v21/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v22/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v23/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v24/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v25/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-vi/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-xlarge-v4/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-zh-rCN/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-zh-rHK/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-zh-rTW/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-zu/
app/build/intermediates/incremental/packageDebugAndroidTest/
app/build/intermediates/incremental/packageRelease/
app/build/intermediates/incremental/processDebugResources/
app/build/intermediates/jniLibs/
app/build/intermediates/reload-dex/
app/build/intermediates/rs/
app/build/intermediates/shaders/
app/build/intermediates/transforms/extractJars/
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/com.guap.guap_tinder.Home.class
app/build/intermediates/transforms/instantRun/debug/folders/4000/
app/build/intermediates/transforms/instantRunDependenciesApk/
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_3/com.guap.guap_tinder.Home.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_3/buildId.txt
app/build/intermediates/transforms/instantRunSlicesApk/
app/build/intermediates/transforms/mergeJavaRes/
app/build/intermediates/transforms/mergeJniLibs/
app/build/tmp/
build/android-profile/profile-2017-11-10-01-19-23-670.rawproto
build/android-profile/profile-2017-11-10-01-22-45-964.rawproto
build/android-profile/profile-2017-11-10-01-24-00-866.rawproto
app/build/intermediates/classes/debug/com/guap/guap_tinder/com.guap.guap_tinder.Two_activity.class
app/build/intermediates/incremental-verifier/debug/com/guap/guap_tinder/com.guap.guap_tinder.Two_activity.class
app/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
app/build/intermediates/incremental/processDebugAndroidTestResources/
app/build/intermediates/manifest/tmp/
app/build/intermediates/res/merged/debug/layout/activity_two_activity.xml
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/guap/guap_tinder/com.guap.guap_tinder.Two_activity.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_1/buildId.txt
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_2/buildId.txt
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_4/buildId.txt
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_4/com/guap/guap_tinder/com.guap.guap_tinder.Two_activity.class
build/android-profile/profile-2017-11-10-01-33-26-592.rawproto
build/android-profile/profile-2017-11-10-01-33-39-462.rawproto
build/android-profile/profile-2017-11-10-01-42-43-818.rawproto
build/android-profile/profile-2017-11-10-01-44-47-034.rawproto
build/android-profile/profile-2017-11-10-01-48-34-438.rawproto
build/android-profile/profile-2017-11-10-01-50-28-457.rawproto
app/build/intermediates/classes/debug/Home.class
app/build/intermediates/classes/debug/Two_activity.class
app/build/intermediates/classes/debug/com/guap/guap_tinder/Two_activity.class
app/build/intermediates/incremental-verifier/debug/Home.class
app/build/intermediates/incremental-verifier/debug/Two_activity.class
app/build/intermediates/incremental-verifier/debug/com/guap/guap_tinder/Two_activity.class
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/Home.class
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/Two_activity.class
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/guap/guap_tinder/Two_activity.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_3/Home.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_4/Two_activity.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_4/com/guap/guap_tinder/Two_activity.class
build/android-profile/profile-2017-11-10-01-50-51-207.rawproto
build/android-profile/profile-2017-11-10-01-51-56-906.rawproto
build/android-profile/profile-2017-11-10-01-52-34-720.rawproto
build/android-profile/profile-2017-11-10-01-53-33-769.rawproto
build/android-profile/profile-2017-11-10-01-55-28-197.rawproto
